
*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 230, 230);
    text-decoration: none;
    list-style: none;
}

form{
    width: 500px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 500px;
    background-color: #ffffff;
    border-radius: 5px;
}


.wrapp > input{
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0 20px 0 0;
    width: 200px;
    height: 25px;
    outline: none;
    padding: 0 10px;
    box-sizing: border-box;
    border:1px solid rgba(0,0,0,0.5);
    border-radius: 2px;
    
}

form > input[type=submit]{
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
    width: 200px;
    height: 25px;
    outline: none;
    padding: 0 10px;
    box-sizing: border-box;
    border:1px solid rgba(0,0,0,0.5);
    border-radius: 2px;
    margin: 24px 0 20px 0;
    background-color: rgb(66, 66, 194);
}

form > input[type=submit]:hover,.form > button:hover{
    cursor: pointer;
    opacity: .9;
}

.wrapp{
    font-family: 'PT Sans Narrow', sans-serif;
    width: 200px;
    height: auto;
}

.form > button{
    
    width: 450px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: rgb(32, 30, 30);
    height: 25px;
    outline: none;
    padding: 0 10px;
    box-sizing: border-box;
    border:1px solid rgba(0,0,0,0.5);
    border-radius: 2px;
    margin: 0 20px 20px 20px;
    font-weight: bolder;
    background-color: rgb(66, 194, 98);
    
}